<link rel="stylesheet" href="/css/testCommon.css">
<div class="menuBtn" style="padding: 5px;">
    <button><a href="/">STEP<br>0</a></button>
    <button><a href="/juso">주소<br>검색</a></button>
    <button><a href="/coordinate">좌표<br>검색</a></button>
    <button><a href="/law">조례<br>정보 O</a></button>
    <button><a href="/landType">토지<br>유형 O</a></button>
    <button><a href="/test">예외<br>사항 O</a></button>
    <button><a href="/dialog">모달<br>창</a></button>
    <button><a href="/localDistrict" style="letter-spacing :-1px;">계<br>산</a></button>
</div>